<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <p>
	    Blog template by <a href="http://blog.invisiblethings.org/about/">Joanna Rutkowska</a><br />
        </p>
      </div>

      <div class="footer-col  footer-col-2">
        <p>
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}">Blog RSS feed</a><br />
            <a href="https://github.com/mfp19/mfp19.github.io">Source of this blog</a><br />
        </p>
      </div>

      <div class="footer-col  footer-col-3">
        <p>
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
            <img alt="Creative Commons License" style="border-width:0"
                 src="{{ "/resources/cc-by-nc-sa.png" | prepend: site.baseurl }}"/>
            </a><br />
        </p>
      </div>

    </div>

  </div>

</footer>
