/**
 * Posts
 */

.post-header {
  margin-bottom: $spacing-unit;
}

.post-meta {
  color: $gray-darker;
}

.post-title {
  margin-bottom: ($spacing-unit / 3);
  font-family: $base-font-family;
  letter-spacing: 0px;
  line-height: 1.2;

  a.post-link {
    font-size: 20px;
    font-weight: normal;
    color: $gray-base;
  }

  a.post-link:hover {
    color: $brand-primary;
  }

}

.post-content {
  margin-bottom: 0;
  font-family: $base-font-family;

  h2, h3, h4 {
    margin-top: $spacing-unit;
    margin-bottom: $line-height-computed / 2;
    font-weight: bold;
  }

  img {
    margin: $spacing-unit auto;
    display: block;
  }

  ul {
      //color: $gray-dark;
      list-style-type: square;
  }

}
